@charset 'utf-8';

html {
  font-family: 'Open Sans', 'PT Sans', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100vw;
  height: 100vh;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  line-height: 6rem;
  font-family: 'Open Sans';
  font-weight: 600;
  
  @include respond-to('large', 'medium') {
    font-size: 4.3rem;
  }
  @include respond-to('small') {
    font-size: 2.8rem;
    line-height: 4.5rem;
  }
}

p {
  margin: 0;
  white-space: pre-line;
  font-family: 'PT Sans';

  @include respond-to('large', 'medium') {
    font-size: 2rem;
  }
  @include respond-to('small') {
    font-size: 1.7rem;
  }
}

hr.separator {
  margin: 0;
  border: 0;
  border-top-style: solid;
  display: inline-block;
  @include themify {
    border-top-color: themed('primary-brand-color');
  }
  @include respond-to('large', 'medium') {
    width: 7rem;
    border-top-width: 0.5rem;
  }
  @include respond-to('small') {
    width: 5rem;
    border-top-width: 0.4rem;
  }
}

a, button, input {
  -webkit-tap-highlight-color: transparent;
}

// Override vue notifications
.custom-vue-notification {
  position: relative;
  padding: 15px;
  padding-left: 40px;
  margin-top: 10px;
  font-size: 14px;
  border-left-style: solid;
  border-left-width: 5px;
  @include themify {
    border-left-color: themed('primary-brand-color');
    background: lighten(themed('primary-background-color'), 8%);
    color: themed('primary-text-color');
  }

  &::before {
    font-family: 'Eva-Icons';
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 22px;
    font-weight: normal;
  }

  .notification-content {
    margin-top: 2px;
    font-size: 13px;
  }

  &.error::before {
    content: '\EA04'; // warning outline
  }

  &.success::before {
    content: '\EA64'; // Checkmark outline
  }
}

// Scrollbar appareance
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  @include themify {
    background-color: themed('secondary-background-color');
  }
}

// Vue transitions animations
.rotation-fade-enter-active,
.rotation-fade-leave-active {
  transition: all 0.3s ease;
  transition-property: opacity transform;
}

.rotation-fade-enter {
  opacity: 0;
  transform: rotate(-180deg) !important;
}

.rotation-fade-leave-to {
  opacity: 0;
  transform: rotate(180deg) !important;
}

.fade-enter-active,
.fade-enter-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}