@charset 'utf-8';

html {
  font-family: 'Open Sans', 'PT Sans', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 1.4rem;
}

*, *:after, *:before {
  box-sizing:border-box;
}

h1 {
  margin: 0;
  line-height: 6rem;
  font-family: 'Open Sans';
  font-size: 4.3rem;
  font-weight: 600;
}

p {
  margin: 0;
  font-family: 'PT Sans';
  font-size: 2rem;
}

hr {
  margin: 0;
  border: 0;
  width: 7rem;
  border-top-style: solid;
  border-top-width: 0.5rem;
  @include themify {
    border-top-color: themed('primary-brand-color');
  }
}
