* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Test
#app {
  @include themify {
    background-color: themed('primary-background-color');
    color: themed('primary-text-color');
  }
  height: 100vh;
}