// Themify mixin
// @requires $themes

@mixin themify {
  @each $name, $map in $themes {
    $theme-name: $name !global;
    $theme-map: $map !global;
    .theme-#{$name} & {
      @content;
    }
  }
  $theme-name: null !global;
  $theme-map: null !global;
}

// Retrieve value from $theme-map
// @requires $themes-map

@function themed($key) {
  $color: map-get($theme-map, $key);
  @if $color != null {
    @return $color;
  } @else {
    @error "No value found for '#{$key}' in '#{$theme-name}'";
  }
}

// Responsive breakpoint manager
// @param {String} $sizes - Screen size
// @requires $breakpoints

@mixin respond-to($sizes...) {
  @each $size in $sizes {
    $query: map-get($breakpoints, $size);
    @if $query != null {
      @media screen and #{$query} {
        /* #{$size} screen */
        @content;
      }
    } @else {
      @error "No value found for '#{$size}' in $breakpoints";
    }
  }
}

// Reset button css styling
@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
