$themes: (
  dark: (
    primary-brand-color: rgb(114,147,255),
    primary-text-color: rgb(255,255,255),
    secondary-text-color: rgb(198,198,198),
    primary-background-color: rgb(62,62,62),
    secondary-background-color: rgb(33,33,33)
  ),
  white: (
    primary-brand-color: yellow,
    primary-text-color: yellow,
    secondary-text-color: yellow,
    primary-background-color: yellow,
    secondary-background-color: yellow
  )
);
