$themes: (
  dark: (
    primary-brand-color: #7293FF,
    primary-text-color: #FFFFFF,
    primary-text-color-10: rgba(#FFFFFF, 0.1),
    secondary-text-color: #C6C6C6,
    primary-background-color: #3E3E3E,
    secondary-background-color: #212121
  ),
  white: (
    primary-brand-color: yellow,
    primary-text-color: yellow,
    primary-text-color-10: rgba(yellow, 0.1),
    secondary-text-color: yellow,
    primary-background-color: yellow,
    secondary-background-color: yellow
  )
);

$breakpoints: (
  'small': '(max-width: 767px)',  // phone 
  'medium': '(min-width: 768px) and (max-width: 1023px)', // tablet
  'large': '(min-width: 1024px)'  // desktop
);